.progress-extends-backer {
  text-align: right;
  padding-top: 3px;
}
.progress-extends-backer a, .progress-extends-backer a:hover {
  font-weight: bold;
  color: var(--color-crm-special-contribute-primary);
}