.crm-container .crm-floating-label {
  --field-height: 42px !important;
  --field-bg: #fff;
  --field-readonly-bg: #f2f2f2;
  position: relative;
  width: 100%;
}
.crm-container .crm-floating-label * {
  box-sizing: border-box;
}
.crm-container .crm-floating-label ::-webkit-input-placeholder {
  color: transparent;
}
.crm-container .crm-floating-label :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: transparent;
}
.crm-container .crm-floating-label ::placeholder {
  color: transparent;
}
.crm-container .crm-floating-label.crm-form-readonly::after {
  top: 50% !important;
  right: 5px !important;
  transform: translateY(-50%);
}
.crm-container .crm-floating-label > input.form-text,
.crm-container .crm-floating-label > textarea.form-textarea,
.crm-container .crm-floating-label > select.form-select {
  display: block;
  width: 100%;
  padding: 0 10px !important;
  overflow: hidden;
  font-size: 16px;
  background: var(--field-bg) !important;
}
.crm-container .crm-floating-label > input.form-text[readonly],
.crm-container .crm-floating-label > textarea.form-textarea[readonly],
.crm-container .crm-floating-label > select.form-select[readonly] {
  background: var(--field-readonly-bg) !important;
}
.crm-container .crm-floating-label > input.form-text {
  height: var(--field-height);
  line-height: 1.25;
  border: 1px solid #9e9e9e !important;
}
.crm-container .crm-floating-label > input.form-text,
.crm-container .crm-floating-label > input.form-text:hover,
.crm-container .crm-floating-label > input.form-text[readonly],
.crm-container .crm-floating-label > input.form-text[readonly]:hover,
.crm-container .crm-floating-label > input.form-text[readonly]:focus,
.crm-container .crm-floating-label > textarea.form-textarea,
.crm-container .crm-floating-label > textarea.form-textarea:hover,
.crm-container .crm-floating-label > textarea.form-textarea[readonly],
.crm-container .crm-floating-label > textarea.form-textarea[readonly]:hover,
.crm-container .crm-floating-label > textarea.form-textarea[readonly]:focus,
.crm-container .crm-floating-label > select.form-select,
.crm-container .crm-floating-label > select.form-select:hover,
.crm-container .crm-floating-label > select.form-select[readonly],
.crm-container .crm-floating-label > select.form-select[readonly]:hover,
.crm-container .crm-floating-label > select.form-select[readonly]:focus {
  border: 1px solid #9e9e9e !important;
}
.crm-container .crm-floating-label > input.form-text:focus,
.crm-container .crm-floating-label > textarea.form-textarea:focus,
.crm-container .crm-floating-label > select.form-select:focus {
  outline: none;
  border: 1px solid #333 !important;
}
.crm-container .crm-floating-label > input.form-text.error,
.crm-container .crm-floating-label > textarea.form-textarea.error,
.crm-container .crm-floating-label > input.form-text.error:focus,
.crm-container .crm-floating-label > textarea.form-textarea.error:focus,
.crm-container .crm-floating-label > select.form-select.error:focus,
.crm-container .crm-floating-label > select.form-select.error:focus {
  border: 1px solid #f44336 !important;
}
.crm-container .crm-floating-label > .elem-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0 5px;
  padding: 10px;
  height: var(--field-height);
  line-height: 1;
  font-size: 16px;
  border: 1px solid transparent;
  white-space: nowrap;
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}
.crm-container .crm-floating-label > input.form-text:not([readonly]):focus ~ .elem-label,
.crm-container .crm-floating-label > textarea.form-textarea:not([readonly]):focus ~ .elem-label,
.crm-container .crm-floating-label > select.form-select.is-selected-val:not([readonly]):focus ~ .elem-label,
.crm-container .crm-floating-label > input.form-text:not(:placeholder-shown) ~ .elem-label,
.crm-container .crm-floating-label > textarea.form-textarea:not(:placeholder-shown) ~ .elem-label,
.crm-container .crm-floating-label > select.form-select.is-selected-val ~ .elem-label {
  display: block;
  opacity: 1;
  height: auto;
  line-height: 1.5;
  transform: scale(.8) translateY(-22px) translateX(.15em);
}
.crm-container .crm-floating-label > input.form-text:not([readonly]):focus ~ .elem-label::before,
.crm-container .crm-floating-label > textarea.form-textarea:not([readonly]):focus ~ .elem-label::before,
.crm-container .crm-floating-label > select.form-select.is-selected-val:not([readonly]):focus ~ .elem-label::before,
.crm-container .crm-floating-label > input.form-text:not(:placeholder-shown) ~ .elem-label::before,
.crm-container .crm-floating-label > textarea.form-textarea:not(:placeholder-shown) ~ .elem-label::before,
.crm-container .crm-floating-label > select.form-select.is-selected-val ~ .elem-label::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background: var(--field-bg);
}
.crm-container .crm-floating-label > input.form-text[readonly]:not(:placeholder-shown) ~ .elem-label::before,
.crm-container .crm-floating-label > textarea.form-textarea[readonly]:not(:placeholder-shown) ~ .elem-label::before,
.crm-container .crm-floating-label > select.form-select.is-selected-val[readonly] ~ .elem-label::before {
  background: var(--field-readonly-bg);
}
.crm-container .crm-floating-label > .error,
.crm-container .crm-floating-label > .extend {
  display: inline-flex;
  margin-top: .25em;
  line-height: 1.25;
  font-size: 13px;
}
.crm-container .crm-floating-label > .error {
}

body .crm-container .crm-section > .label {
  margin-bottom: .5em;
}
body .crm-container div[class*="crm-section state_province-"] .crm-floating-label.crm-form-select-single .form-select,
body .crm-container div[class*="crm-section state_province-"] .crm-floating-label [name*="city-"] {
  width: 8rem;
}
body .crm-container div[class*="crm-section state_province-"] .crm-floating-label input[name*="postal_code-"] {
  width: 8rem;
  /* overwrite civicrm.css */
  max-width: 8rem;
}